body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
 html{
    scroll-behavior: smooth;
}

.li7{
    border: 1px solid rgb(37, 103, 90);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -15px;
   padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 5px  rgb(15, 109, 90) ;

}

.projet{
    border: 1px solid rgb(50, 182, 155);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -15px;
    padding-left: 15px;
    padding-right: 20px;
    color: white;
    background-color:rgb(16, 141, 137);
    color: white;
    
}
#rv{
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:  rgb(16, 141, 137);
    
}
#pro{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    color: rgb(15, 109, 90);
}
#projet1{
    color: white;
}
.lien{
    text-decoration: none;
    
}
#lien{
    color:  black;
}

 body{
    margin: 0;
    padding: 0;
    
}

.topbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px;
    background-color: white;
}

 .gauche{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.phone{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.droite{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

 #icon{
    background-color: gray;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 20px;
}
.IC, #IC{
    width: 35px;
    height: auto;
}

 .nav-bar{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    background-color: white;
}
header{
    height: 20vh;
    position: fixed;
    width: 100%;
    margin: 0;
}
ul{
    font-size: medium;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

 .hero{
    padding-top: 160px;
    padding-bottom: 100PX;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* background-color:  rgb(16, 141, 137);  */
}
#MA{
   /* background-color: rgb(22, 132, 128);  */
   background: linear-gradient(to left, rgb(22, 132, 128), rgb(50, 182, 155) );
}

.header{
    height: 20vh;
    position: fixed;
    width: 100%;
    margin: 0;
}
ul{
    font-size: medium;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
}

 /* .hero{
    padding-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(50, 182, 155);
} */
#ima, .image{
    width: 200px;
    height: auto;
}
#p1{
    color: white;
    font-weight: bolder;
    font-size: 5rem;
    line-height: 10px;
    width: 100%;
}

.nous{
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
h1{
    color: rgb(75, 78, 78);
    
}

.p2{
    color: rgb(75, 78, 78);
    letter-spacing: 10px;
    font-size: 1.5rem;
    font-weight: lighter;
}
.p3{
    padding-bottom: 20px;
    color: rgb(75, 78, 78);
    line-height: 2em;
    font-size: 1.2rem;
    
}
#mage, .image1{
    padding-top: 5px;
    height: auto;
    width: 580px;
}


.container{
    margin-left: 80px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 130px;
    height: 35vh;
}
.item{
    border-radius: 15px;
    padding: 70px;
    padding-left: 70px;
    font-size: 3rem;
    font-weight: bold;
    
}
#item1{
    box-shadow: 0px 0px  10px  #4eab8f;
}
#item2{
    box-shadow: 0px 0px  10px  #ffb005;
}
#item3{
    box-shadow: 0px 0px  10px  #ff2414;
}
#item4{
    box-shadow: 0px 0px  10px #99f0d6;
}
.p4{
    text-align: center;
    margin-top: 30px;
    letter-spacing: 3px;
    margin-bottom: 120px;
    
}
.services{
    margin-left: 90px;
    height: 120vh;
}
#image1{
    width: 40px;
    height: 8vh;
}
.div1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-right: 30px;
    margin-top: 60px;
}
.carte{
    background-color: #18352d;
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px  15px #c0e0eb
    
}
.p5{
    letter-spacing: 4px;
    font-size: 1.5rem;
}
.v1{
    margin-left: 95px;
    border: 2px solid rgb(50, 182, 155);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.v1:hover{
    background-color: rgb(50, 182, 155);

}
.p6, .h1{
   
    margin-left: 90px;
    color: white;
}

.process{
    margin-top: 50px;
     padding-top: 30px;
    background-color:  #18352d;
   
}
#pro{
    color: rgb(75, 78, 78)
}
.p6{
    letter-spacing: 3px;
    font-size: 1.5rem;
}
.h1{
    padding-bottom: 50px;
}
.image2{
    margin-left: 50px;
    
}
#d{
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: lighter;
}
.D{
    margin-left: 80px;
}
.item4, #domaine{
    width: 55px;
    height: auto;
}
.item3{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.container3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 15px;
    margin-left: 80px;
    margin-right: 30px;
}
.items3{
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(123, 151, 123);
}
.tem, #cap{
    width: 300px;
    height: auto;
}
.temognages{
    margin-left: 80px;
    margin-top: 50px;
}

.temoi{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.TE{
    margin-top: 40px;
    word-spacing: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.service{
    margin-left: 80px;
}
.tra{
    line-height: 5vh;
    font-weight: lighter;
}
.taf, #taff{
    width: 340px;
    height: auto;
}
.container4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
button{
   font-size: 1rem;
   font-weight: bold;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    background-color: #ffb005;
}
button:hover{
    color: #ffb005;
    background-color: white;
    cursor: pointer;
}
.but{
    margin-top: 70px;
    margin-bottom: 15px;
     display: flex;
    flex-direction: row;
    justify-content: center;
}
.item5, #easy{
    width: 480px;
    height: auto;
   
}
.solutions{
    margin-top: 50px;
    margin: 30px;
    
    
    
    
}
.container5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 3Opx;
}

.items5{
    padding: 15px;
   border: 2px solid white;
   background-color: white;
   box-shadow: 0px 0px 15px rgb(116, 168, 154);
   border-radius: 15px;
    
}

#p7{
    margin-left: 30px;
}
#p6{
    margin-left: 30px;
}
.container6{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 100px;
}
.clients{
    margin: 70px;
}
#client{
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: lighter;
}
.items6{
    border: 1px solid rgb(14, 237, 211);
    padding: 60px;
    
}
.cli, #cli{
    width: 150px;
    height: auto;
}
/* footer{
    
    background-color:  #18352d;
    
} */
footer{
    background-image: url(img/Africa\ Renaissance\ monument\,\ Dakar\,.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 120vh; */
    /* background-color:  #18352df9;*/ 
    
}
.IT, #IT{
    width: 50px;
    height: auto;
}
.local{
    display:flex;
    flex-direction: row;
    gap: 20px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.play{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 30px;
}
.container7{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.pied{
    /* margin-right: 55px;
    margin-left: 55px; */
    padding-top: 70px;
    width: 100%;
    background-color:  #18352df5;
}
#foot{
    color: white;
}
.foots{
    color: white;
}
.footers{
    color: #aed3d3
}
.footers1{
    font-weight: bold;
    color: #aed3d3
}
.cone{
    background-color: white;
    padding: 15px;
    border-radius: 25px;
}

   
#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 26px;
    cursor: pointer;
    z-index: 3000;
}

.menu-icon.close{
    display: none;
}
#sa{
    border: 1.5px solid #7edfc2;
}
#fi{
    border: 1.5px solid #65da45;
}
#et{
    border: 1.5px solid #2253b7;
}
#ou{
    border: 1.5px solid #469cc0;
}
#nd{
    border: 1.5px solid #7ed9f3;
}
#ia{
    border: 1.5px solid #469cc0;
}
#ye{
    border: 1.5px solid #e65932;
}
#mauve{
    border: 1.5px solid #9771d4;
}
#a{
    border: 1.5px solid #a39e39;
}
#l{
    border: 1.5px solid #dbc235;
}
#i{
    border: 1.5px solid #43caec;
}
#ka{
    border: 1.5px solid #e27632;
}








@media screen and  (max-width: 768px){
    body{
        margin: 0;
        padding: 0;
        margin-left: 0;
        
    }#sophie{
        text-align: center;
    }
    #d{
        text-align: center;
    }
    
    .menu-icon{
        display: block;
    }

    .menu-mobile{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        transition: 0.3s ease;
        overflow-y: auto;
        z-index: 2000;
    }
.nav-bar{
    display: flex;
}
   
    #menu-toggle:checked ~ .menu-mobile{
        right: 0;
    }

    #menu-toggle:checked ~ .open{
        display: none;
    }

    #menu-toggle:checked ~ .close{
        display: block;
        position: fixed;
        top: 20px;
        right: 25px;
    }
    .topbar{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .droite{
        gap: 5px;
        
    }
    ul{
        flex-wrap: wrap;
    }
    .nav-bar{
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        gap: 270px;
    }
    .header{
    position: fixed;
    width: 100%;
    
}
.hero{
    flex-direction: column;
    padding-top: 200px;
    width: 100%;
    margin-left: none;
    margin-right: none;
    text-align: center;
}
#p1{
    font-size: 2.5rem;
}
.nous{
    flex-direction: column;
    margin-left: 5px
   
}

#mage, .image1{
    width: 100%;
    height: auto;
}
.container{
    grid-template-columns: 1fr;
    margin-left: 20px;
    text-align: center;
}
.p4{
    padding-top: 650px;
}
.services{
    margin-left: 20px;
   
}

#image1{
    width: 40px;
    height: auto;
}
.container1{
    grid-template-columns: 1fr;
}

.process{
    margin-top: 1080px;
}

.p6, .h1{
    margin-left: 20px;
}
.image2{
    margin-left: 0px;
    width: 98%;
    height: auto;
}
.container3{
    text-align: center;
    grid-template-columns: 1fr;
   
    margin-left: 20px;
}
.D{
    text-align: center;
    margin-left: 20px;
}
.temognages{
    margin-left: 20px;
}
.temoi{
    flex-direction: column;
}
.service{
    /* margin-left: 20px; */
}
.container4{
    grid-template-columns: 1fr;
}
.container5{
    flex-direction: column;
    margin-top: 30px;
}
#p7{
    
    margin: 0;
}
#p6{
    margin-bottom: 20px;
   text-align: center;
    margin: 0;
}
.taf, #taff{
    width: 99%;
}
.item5, #easy{
    
    width: 100%;
    height: auto;
}
.container6{
    flex-direction: column;

}
#pro{
    text-align: center;
   color: rgb(75, 78, 78);
}
.p5{
    text-align: center;
}
.items6{
   padding: 20px;
}
.clients{
    margin: 0;
}
#cli, .cli{
    width: 100%;
    font-weight: bold;
}
#clie, .client{
    margin-left: 10px;
}
#clie{
    text-align: center;
}
#client{
    text-align: center;
    margin-left: 10px;
}
.container7{
    flex-direction: column;
}
footer{
    margin-top: 30px;
}
.pied{
    /* margin-left: 20px; */
}

#cap, .tem{
    width: 100%;
}

}



@media screen and  (max-width: 1146px) {
    body{
        margin: 0;
        padding: 0;
        
    }#sophie{
        text-align: center;
    }
    #d{
        text-align: center;
    }
    
    .menu-icon{
        display: block;
    }

    .menu-mobile{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        transition: 0.3s ease;
        overflow-y: auto;
        z-index: 2000;
    }
.nav-bar{
    display: flex;
}
   
    #menu-toggle:checked ~ .menu-mobile{
        right: 0;
    }

    #menu-toggle:checked ~ .open{
        display: none;
    }

    #menu-toggle:checked ~ .close{
        display: block;
        position: fixed;
        top: 20px;
        right: 25px;
    }
    .topbar{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .droite{
        gap: 5px;
        
    }
    ul{
        flex-wrap: wrap;
    }
    .nav-bar{
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        gap: 270px;
    }
    .header{
    position: fixed;
    width: 100%;
    
}
.hero{
    flex-direction: column;
    padding-top: 200px;
    width: 100%;
    margin-left: none;
    margin-right: none;
    text-align: center;
}
#p1{
    font-size: 2.5rem;
}
.nous{
    flex-direction: column;
    margin-left: 5px
   
}

#mage, .image1{
    width: 100%;
    height: auto;
}
.container{
    grid-template-columns: 1fr;
    margin-left: 20px;
    text-align: center;
}
.p4{
    padding-top: 650px;
}
.services{
    margin-left: 20px;
   
}

#image1{
    width: 40px;
    height: auto;
}
.container1{
    grid-template-columns: 1fr;
}

.process{
    margin-top: 1080px;
}

.p6, .h1{
    margin-left: 20px;
}
.image2{
    margin-left: 0px;
    width: 98%;
    height: auto;
}
.container3{
    text-align: center;
    grid-template-columns: 1fr;
   
    margin-left: 20px;
}
.D{
    text-align: center;
    margin-left: 20px;
}
.temognages{
    margin-left: 20px;
}
.temoi{
    flex-direction: column;
}
.service{
    margin-left: 20px;
}
.container4{
    grid-template-columns: 1fr;
}
.container5{
    flex-direction: column;
    margin-top: 30px;
}
#p7{
    
    margin: 0;
}
#p6{
    margin-bottom: 20px;
   text-align: center;
    margin: 0;
}
.taf, #taff{
    width: 99%;
}
.item5, #easy{
    
    width: 100%;
    height: auto;
}
.container6{
   flex-direction: column;

}
#pro{
    text-align: center;
   color: rgb(75, 78, 78);
}
.p5{
    text-align: center;
    margin: 30px;
}
.items6{
   margin: 50px;
}
.clients{
    margin: 0;
}
#cli, .cli{
    width: 100%;
}
#clie, .client{
    margin-left: 10px;
}
#clie{
    text-align: center;
}
#client{
    text-align: center;
    margin-left: 10px;
}
.container7{
    flex-direction: column;
}
footer{
    margin-top: 30px;
}
.pied{
    /* margin-left: 20px; */
}

#cap, .tem{
    width: 100%;
}

}






