/* html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
   
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.gauche{
    margin-top: 15px;
    display: flex;  
    gap: 30px;
}


a{
    text-decoration: none;
    color: black;
}
.droite{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}
.icon{
    font-size: 1.5rem;
    margin-top: 13px; 
}
header{
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: white;
    padding-right: 45px;
    padding-bottom: 40px;
}
.navbar{
    margin-left: 85px;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-top: 35px;
    gap: 90px;
    
}
.IC, #IC{
    width: 35px;
    height: auto;
}

ul{
    font-size: medium;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: -40px;
} */
.li7{
    border: 1px solid rgb(15, 109, 90);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -15px;
   padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 5px  rgb(15, 109, 90) ;

}

.projet{
    border: 1px solid rgb(50, 182, 155);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -15px;
    padding-left: 15px;
    padding-right: 20px;
    color: white;
    background-color: rgb(50, 182, 155);
    color: white;
    
}
#rv{
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:  rgb(50, 182, 155);
    
}
#pro{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    color: rgb(15, 109, 90);
}
#projet1{
    color: white;
}
.lien{
    text-decoration: none;
    
}
#lien{
    color:  black;
}
/* .hero{
   height: 75vh;
    font-weight:bolder;
    font-size: 4rem;
    background-color: rgb(50, 182, 155);
    padding-top: 240px;
    display: flex;
    flex-direction: row;
    gap: 350px;
    width: 100%;
   
    

} */
 body{
    margin: 0;
    padding: 0;
    
}

.topbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px;
    background-color: white;
}

 .gauche{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.phone{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.droite{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

 #icon{
    background-color: gray;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 20px;
}
.IC, #IC{
    width: 35px;
    height: auto;
}

 .navbar{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    background-color: white;
}
header{
    height: 20vh;
    position: fixed;
    width: 100%;
    margin: 0;
}
ul{
    font-size: medium;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

 .hero{
    padding-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(50, 182, 155);
}

header{
    height: 20vh;
    position: fixed;
    width: 100%;
    margin: 0;
}
ul{
    font-size: medium;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
}
#p1{
    color: white;
    font-weight: bolder;
    font-size: 5rem;
    line-height: 10px;
    width: 100%;
}



.nous{
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
h1{
    color: rgb(75, 78, 78);
    
}

.p2{
    color: rgb(75, 78, 78);
    letter-spacing: 10px;
    font-size: 1.5rem;
    font-weight: lighter;
}
.p3{
    padding-bottom: 20px;
    color: rgb(75, 78, 78);
    line-height: 2em;
    font-size: 1.2rem;
    
}
#ima, .image1{
    padding-top: 5px;
    height: auto;
    width: 580px;
}
.container{
    margin-left: 80px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 130px;
    height: 35vh;
}
.item{
    /* border: 1px solid rgb(75, 78, 78); */
    border-radius: 15px;
    padding: 70px;
    padding-left: 70px;
    font-size: 3rem;
    font-weight: bold;
    
}
#item1{
    box-shadow: 0px 0px  10px  #4eab8f;
}
#item2{
    box-shadow: 0px 0px  10px  #ffb005;
}
#item3{
    box-shadow: 0px 0px  10px  #ff2414;
}
#item4{
    box-shadow: 0px 0px  10px #99f0d6;
}
.p4{
    text-align: center;
    margin-top: 30px;
    letter-spacing: 3px;
    margin-bottom: 120px;
    
}
.services{
    margin-left: 90px;
    height: 120vh;
}
#image1{
    width: 40px;
    height: 8vh;
}
.div1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-right: 30px;
    margin-top: 60px;
}
.carte{
    background-color: #255648;
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px  15px #c0e0eb
    
}
.p5{
    letter-spacing: 4px;
    font-size: 1.5rem;
}
.v1{
    margin-left: 95px;
    border: 2px solid rgb(50, 182, 155);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.v1:hover{
    background-color: rgb(50, 182, 155);

}
.p6, .h1{
   
    margin-left: 90px;
    color: white;
}

.process{
    margin-top: 50px;
     padding-top: 30px;
    background-color: #255648;
    /* height: 140vh; */
}
.p6{
    letter-spacing: 3px;
    font-size: 1.5rem;
}
.h1{
    padding-bottom: 50px;
}
.image2{
    margin-left: 50px;
    
}
#d{
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: lighter;
}
.D{
    margin-left: 80px;
}
.item4, #domaine{
    width: 55px;
    height: auto;
}
.item3{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.container3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 15px;
    margin-left: 80px;
    margin-right: 30px;
}
.items3{
    border: 1px solid gray;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(123, 151, 123);
}
.tem, #cap{
    width: 300px;
    height: auto;
}
.temognages{
    margin-left: 80px;
    margin-top: 50px;
}
/* .displey{
    display: flex;
    flex-direction: row;
    gap: 10px;
} */
.temoi{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.TE{
    margin-top: 40px;
    word-spacing: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}
.service{
    margin-left: 80px;
}
.tra{
    line-height: 5vh;
    font-weight: lighter;
}
.taf, #taff{
    width: 340px;
    height: auto;
}
.container4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
button{
   font-size: 1rem;
   font-weight: bold;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    background-color: #ffb005;
}
button:hover{
    color: #ffb005;
    background-color: white;
    cursor: pointer;
}
.but{
    margin-top: 70px;
    margin-bottom: 15px;
     display: flex;
    flex-direction: row;
    justify-content: center;
}
.item5, #easy{
    width: 480px;
    height: auto;
    /* border-radius: 15px; */
}
.solutions{
    margin-top: 50px;
    margin: 30px;
    
    
    
    
}
.container5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 3Opx;
}

.items5{
    padding: 15px;
   border: 2px solid white;
   background-color: white;
   box-shadow: 0px 0px 15px rgb(116, 168, 154);
   border-radius: 15px;
    
}
/* .container5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    background-color: rgb(241, 248, 246);
    padding: 10px;
    
}
.items5{
    padding: 15px;
   border: 2px solid white;
   background-color: white;
   box-shadow: 0px 0px 15px rgb(116, 168, 154);
   border-radius: 15px;
    
}

.easy{
    color: rgb(75, 78, 78);
}
.easy2{
    font-size: 1rem;
    color: rgb(75, 78, 78);
} */
#p7{
    margin-left: 30px;
}
#p6{
    margin-left: 30px;
}
.container6{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
    gap: 20px;
}
.clients{
    margin: 70px;
}
#client{
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: lighter;
}
.items6{
    border: 1px solid rgb(14, 237, 211);
    padding: 0px;
    
}
.cli, #cli{
    width: 150px;
    height: auto;
}
footer{
    
    background-color: #255648
    
}
.IT, #IT{
    width: 50px;
    height: auto;
}
.local{
    display:flex;
    flex-direction: row;
    gap: 20px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.play{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 30px;
}
.container7{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.pied{
    margin-right: 55px;
    margin-left: 55px;
    padding-top: 70px;
}
#foot{
    color: white;
}
.foots{
    color: white;
}
.footers{
    color: #aed3d3
}
.footers1{
    font-weight: bold;
    color: #aed3d3
}
.cone{
    background-color: white;
    padding: 15px;
    border-radius: 25px;
}















@media screen and (max-width: 780px) {
body{
    margin: 0;
    width: 100%;
    padding: 0;
}

.topbar{
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
.gauche{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
.droite{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

    .navbar {
        margin-left: 0;
        align-items: center;
        gap: 20px;
        padding: 0;
    }
    ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    header {
        position: fixed;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .hero{
        flex-direction: column;
        /* justify-content: center; */
        margin: 0px;
        padding: 0;
        padding-top: 400px;
        width: 100%;
        /* text-align: center; */
    }
    #ima, .image1{
    padding-top: 5px;
    height: auto;
    width: 430px;
}
.p4{
    margin-top: 300px;
}
    .nous{
        flex-direction: column;
        /* justify-content: center; */
        margin: 0;
        padding: 0;
        width: 100%;
        /* text-align: center; */
    }
    #image1{
    width: 5px;
    height: auto;
}
    .p1{
        font-size: 1rem;
        font-weight: 200;
    }
    .container{
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0;
        width: 100%;
       margin-bottom: 230px;
       /* text-align: center; */
    }
    .container1{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 0px;
    }
    .services{
        margin: 0;
        text-align: center;
        margin-bottom: 230px;
    }
    .v1{
        margin: 0;
        text-align: center;
    }
    .process{
        margin-top: 450px;
       /* padding: 40px; */
        width: 100%; 
    }
    .image2{
        margin: 0px;
        width: 100%;
    }
    .container3{
        grid-template-columns: 1fr 1fr;
        margin: 0px;
        /* align-items: center;
        text-align: center; */
    }
    .temognages{
margin: 0;


    }
    .temoi{
        flex-direction: column;
    align-items: center;
        margin: 0;
    }
    .dom{
        /* text-align: center; */
    }
     .container3{
        grid-template-columns: 1fr;
        margin-top: 30px;
        /* align-content: center;
        justify-content: center; */
        
    }
    /* .service{
        text-align: center; */
    
    .container4{
        grid-template-columns: 1fr;
        place-items: center;
    }
    .D{
        margin: 0;
    }
     .container5{
        flex-direction: column;
        width: 100%;
    }
    .service{
        margin: 0;
    }
    .taf, #taff{
        width: 350px;
        height: auto;
    }
    /* .but{
        flex-direction: column;
    } */
    .item5, #easy{
    width: 340px;
    height: auto;
    /* border-radius: 15px; */
}
.container6{
    grid-template-columns: 1fr;
}
.container7{
    gap: 40px;
    margin: 0;
    flex-direction: column;
    
    width: 100%;

}
.pied{
    width: 100px;
    margin: 0;
    padding: 0;
}
footer{
    width: 100%;
}

}




















/*   
    header {
        position: static;
        height: auto;
        padding: 10px;
    }

    .topbar {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
        
    }

    .gauche, .droite {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .navbar {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0;
    }

    ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-size: 0.9rem;
    }

  
    .hero {
        flex-direction: column;
        gap: 30px;
        padding-top: 50px;
        height: auto;
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        margin: 0;
    }

    #p{
        font-size: 4rem;
        width: 100%;
    }

    #image {
        width: 250px;
        height: auto;
        margin: auto;
    }

   
    .nous {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        gap: 30px;
    }

    .image1 {
        width: 100%;
        height: auto;
    }

 
    .container {
        grid-template-columns: 1fr;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .item {
        padding: 40px;
        text-align: center;
        font-size: 2.2rem;
    }

 
    .services {
        margin-left: 20px;
        height: auto;
    }

    .container1 {
        grid-template-columns: 1fr;
    }

    .v1 {
        margin-left: 0;
        display: inline-block;
        margin-top: 15px;
    }

    
    .process {
        height: auto;
        padding-bottom: 40px;
    }

    .p6, .h1 {
        margin-left: 20px;
        text-align: center;
    }

    .image2 {
        width: 100%;
        margin-left: 0;
    }
    .container3{
        grid-template-columns: 1fr;
        margin-left: 25px;
    }
    .D{
        margin-left: 0px;
    }
    .temoi{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
    }
    .container4{
        grid-template-columns: 1fr;
    }
    .service{
        margin: 25px;
    }
    .temognages{
        
        justify-content: center;
        margin: 0px;
        width: 100%;
    }
    .solutions{
        margin: 0;
        padding: 0;
    }
    .container5{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .item5, #easy{
        width: 100%;
    }
    .container6{
        grid-template-columns: 1fr;
    }
    .container7{
        flex-direction: column
    }
    .flex{
        flex-wrap: wrap;
    } */
    /* .item5, #easy{
        width: auto;
    } */
