body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
   
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.gauche{
    margin-top: 15px;
    display: flex;  
    gap: 30px;
}

#I{
    margin-right: 10px;
}
#I{
    text-decoration: none;
    color: black;
}
#I:hover{
    color: rgb(50, 182, 155);
}


.droite{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}
.icon{
    font-size: 1.5rem;
    margin-top: 13px; 
}
header{
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: white;
    padding-right: 45px;
}
.navbar{
    margin-left: 85px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    padding-bottom: 5px;
    padding-top: 35px;
    gap: 90px;

}
.image{
    width: 36px;
    height: 10vh;
    
}
ul{
    font-size: medium;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: -40px;
}
.li7{
    border: 1px solid rgb(15, 109, 90);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -15px;
   padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 5px  rgb(15, 109, 90) ;

}

.projet{
    border: 1px solid rgb(50, 182, 155);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: -20px;
    margin-top: -15px;
    padding-left: 15px;
    padding-right: 20px;
    color: white;
    background-color: rgb(50, 182, 155);
    color: white;
    
}
#rv{
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:  rgb(50, 182, 155);
    
}
#pro{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    color: rgb(15, 109, 90);
}
#projet1{
    color: white;
}
.lien{
    text-decoration: none;
    
}
#lien{
    color:  black;
}
.hero{
   height: 75vh;
    font-weight:bolder;
    font-size: 4rem;
    background-color: rgb(50, 182, 155);
    padding-top: 240px;
    display: flex;
    flex-direction: row;
    gap: 350px;
    

}
.p1{
     margin-left: 80px;
    margin-bottom: -30px;
    padding-bottom: -10px;
    color: white;
    
}

#image{
    height: 50vh;
    width: 350px;
}
.nous{
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
h1{
    color: rgb(75, 78, 78);
    
}

.p2{
    color: rgb(75, 78, 78);
    letter-spacing: 10px;
    font-size: 1.5rem;
    font-weight: lighter;
}
.p3{
    padding-bottom: 20px;
    color: rgb(75, 78, 78);
    line-height: 2em;
    font-size: 1.2rem;
    
}
.image1{
    padding-top: 20px;
    height: 80vh;
    width: 580px;
}
.container{
    margin-left: 80px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 130px;
    height: 35vh;
}
.item{
    /* border: 1px solid rgb(75, 78, 78); */
    border-radius: 15px;
    padding: 70px;
    padding-left: 70px;
    font-size: 3rem;
    font-weight: bold;
    
}
#item1{
    box-shadow: 0px 0px  10px  #4eab8f;
}
#item2{
    box-shadow: 0px 0px  10px  #ffb005;
}
#item3{
    box-shadow: 0px 0px  10px  #ff2414;
}
#item4{
    box-shadow: 0px 0px  10px #99f0d6;
}
.p4{
    text-align: center;
    margin-top: 30px;
    letter-spacing: 3px;
    margin-bottom: 120px;
    
}
.services{
    margin-left: 90px;
    height: 120vh;
}
#image1{
    width: 40px;
    height: 8vh;
}
.div1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-right: 30px;
    margin-top: 60px;
}
.carte{
    background-color: #255648;
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px  15px #c0e0eb
    
}
.p5{
    letter-spacing: 4px;
    font-size: 1.5rem;
}
.v1{
    margin-left: 95px;
    border: 2px solid rgb(50, 182, 155);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.v1:hover{
    background-color: rgb(50, 182, 155);

}
.p6, .h1{
   
    margin-left: 90px;
    color: white;
}
.process{
    margin-top: 50px;
     padding-top: 30px;
    background-color: #255648;
    height: 140vh;
}
.p6{
    letter-spacing: 3px;
    font-size: 1.5rem;
}
.h1{
    padding-bottom: 50px;
}
.image2{
    margin-left: 50px;
    
}
/* @media screen and (max-width: 780px){
    body{
        width: 100%;

    }
    .topbar{
        display: flex;
        flex-wrap: wrap;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
} */
 @media screen and (max-width: 768px) {

    /* ===== HEADER ===== */
    header {
        position: static;
        height: auto;
        padding: 10px;
    }

    .topbar {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

    .gauche, .droite {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .navbar {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-size: 0.9rem;
    }

    /* ===== HERO ===== */
    .hero {
        flex-direction: column;
        gap: 30px;
        padding-top: 50px;
        height: auto;
        font-size: 2.2rem;
        text-align: center;
    }

    .p1 {
        margin-left: 0;
    }

    #image {
        width: 250px;
        height: auto;
        margin: auto;
    }

    /* ===== SECTION NOUS ===== */
    .nous {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        gap: 30px;
    }

    .image1 {
        width: 100%;
        height: auto;
    }

    /* ===== CHIFFRES ===== */
    .container {
        grid-template-columns: 1fr;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .item {
        padding: 40px;
        text-align: center;
        font-size: 2.2rem;
    }

    /* ===== SERVICES ===== */
    .services {
        margin-left: 20px;
        height: auto;
    }

    .container1 {
        grid-template-columns: 1fr;
    }

    .v1 {
        margin-left: 0;
        display: inline-block;
        margin-top: 15px;
    }

    /* ===== PROCESS ===== */
    .process {
        height: auto;
        padding-bottom: 40px;
    }

    .p6, .h1 {
        margin-left: 20px;
        text-align: center;
    }

    .image2 {
        width: 100%;
        margin-left: 0;
    }
}